@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Rammetto+One');
body { -webkit-animation: bugfix infinite 2s; }
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }

#banner img{
	width:15%;
	float:left;
}

#body    {
	margin: 0 0 0 0;
}

h1 {
	font-family:'Rammetto One', cursive;
	font-size: 85px;
	text-align:center;
	color:3EB938;
	padding-top:100px;
}

h2 {
	font-family:'Rammetto One', cursive;
	text-align:center;
	color:3EB938;
	font-size:40px;
}

h3 {
	font-family:'Rammetto One', cursive;
	text-align:center;
	color:#000E37;
	font-size:40px;
}

h4 {
	font-family:'Rammetto One', cursive;
	color:3EB938;
	font-size:20px;
}
	
#main_text     img{
	width:80%;
	height:500px;
	margin-left:10%;
	margin-right:10%;
	padding-top:10px;
	padding-bottom:10px;
}

#main_text2   img{
	width:20%;
	margin-left:15%;
	margin-right:70%;
}

table {
	width:50%;
	margin-left:40%;
	margin-right:10%;
	padding-top:30px;
}

td  {
	font-family:'Hind Siliguri', sans-serif;
	font-size:20px;
	border-bottom: 2px solid black;
}

p {
	width:80%;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:10px;
	font-family:'Hind Siliguri', sans-serif;
	text-align:center;
	font-size:20px;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: 3EB938;
    color: white;
    text-align: left;
	font-family:'Hind Siliguri', sans-serif;
	font-size: 20px;
}

#footer_contact_information  {
	background-color: 3EB938;
    color: white;
    text-align: left;
	font-family:'Hind Siliguri', sans-serif;
	font-size: 20px;
	margin-left:5%;
}
	

	/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #000E37;
  font-family: 'Hind Siliguri', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3EB938;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000E37;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: 'Rammetto One', cursive;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: #000E37;
  background: white;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: 3EB938;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background-color: white;
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  width:80%;
  margin-left:5%;
  margin-right:10%;
  padding-bottom:10px;
  font-family:'Hind Siliguri', sans-serif;
  text-align:left;
  font-size:20px;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.pet img {
	position: relative;
	float: left;
	width: 20%;
}

.pet table {
	position: relative;
	float: right;
	width: 20%;
}



input[type='checkbox'] {
  display: none;
}

.lbl-toggle2 {
  display: block;

  font-weight: bold;
  font-family: 'Rammetto One', cursive;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: #000E37;
  background: white;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle2:hover {
  color: 3EB938;
}

.lbl-toggle2::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content2 .content-inner2 {
  background-color: white;
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  width:80%;
  margin-left:5%;
  margin-right:10%;
  padding-bottom:10px;
  font-family:'Hind Siliguri', sans-serif;
  text-align:left;
  font-size:20px;
}

.collapsible-content2 {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle2:checked + .lbl-toggle2 + .collapsible-content2 {
  max-height: 350px;
}

.toggle2:checked + .lbl-toggle2::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle2:checked + .lbl-toggle2 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}